.register {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 68px);
  justify-content: center;
  padding-top: 68px;
  width: 100%;

  .register__title {
    font-size: 2em;
  }
  .register__text-green {
    color: rgba(44, 205, 111, 1);
  }
  .register__form {
    width: 320px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .register__form--input {
      width: 20em;
      margin-bottom: 1em;
      padding: 1em 2em;
      border-radius: 5px;
      border-style: groove;
      outline: none;
    }
    .register__form--small-text {
      color: gray;
      margin-bottom: 1em;
      text-align: center;
    }
    .register__form--submit {
      background-color: rgba(44, 205, 111, 1);
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .register__link {
    text-decoration: none;
  }
}
