.post__container {
  background-color: white;
  border: solid 1px gray;
  border-radius: 5px 5px 0 0;
  width: 100%;

  .post {
    padding: 2em;
    display: flex;
    .post__avatar {
      border-radius: 50%;
      width: 3.5em;
      height: 3.5em;
    }

    .post__content {
      margin-left: 2em;

      .post__name {
        margin: 0;
        color: rgba(44, 205, 111, 1);
      }
      .post__date {
        color: gray;
        text-transform: capitalize;
      }
      .post__capitalize::first-letter {
        text-transform: capitalize;
      }
      .post__content--button {
        border: none;
        cursor: pointer;

        .post__content--button-like {
          color: rgba(84, 141, 238, 1);
          font-size: 2em;
        }

        .post__content--button-dislike {
          color: rgba(232, 199, 76, 1);
          font-size: 2em;
        }

        .post__content--button-remove {
          color: rgba(233, 99, 95, 1);
          font-size: 2em;
        }
      }
    }
  }
}
